.content3 {
    margin: auto;
    width: 600px;
}

.link {
    margin: 50px auto;
    width: 500px;
    height: 80px;
    border-radius: 35px;
    border: black solid;
    position: relative;
}

.socialpic {
    width: 60px;
    height: 60px;
    margin: 10px;
    display: inline-block;
}

.linktext {
    display: inline-block;
    height: 60px;
    margin-left: 100px;
    margin-bottom: 50px;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    color: black;
}