.content {
    width: 800px;
    margin: auto;
    display: grid;
    grid-template-areas:
        'profile intro intro intro'
        'profile intro intro intro';
    gap: 20px;
}

.profile {
    grid-area: profile;
    width: 220px;
}

.pic {
    margin-left: 30px;
    height: 166px;
    width: 150px;
    border-radius: 12px;
    border: black solid;
}

.list {
    margin-top: 30px;
    padding-right: 10px;
}

.intro {
    grid-area: intro;
    border-radius: 12px;
    border: black solid;
    padding: 20px;
}