.active {
    font-weight: bold;
}

NavLink {
    margin: 10px;
}

h1 {
    font-family: Arial;
    font-size: 22px;

}

h2 {
    font-family: Arial;
    font-size: 18px;

}

p {
    font-family: Verdana;
    font-size: 15px;

}

li {
    font-family: Verdana;
    font-size: 15px;
}

a {
    text-decoration: none;
    font-family: Verdana;
    font-size: 15px;
    color: white;
}

.menu {
    height: 30px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    border-radius: 12px;
    border: black solid;
    background-color: rgba(0, 0, 0, 0.596);
}

.menuitem {
    text-align: center;
    color: white;
    display: inline-block;
    width: 23%;
    margin-top: 5px;
}

.content1 {
    width: 800px;
    margin: auto;
    display: grid;
    grid-template-areas:
        'profile intro intro intro'
        'profile intro intro intro';
    gap: 20px;
}

.profile {
    grid-area: profile;
    width: 220px;
}